In [1]:
import pandas as pd

# 1. Creating a DataFrame with at least 5 observations

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Math': [85, 90, 78, 92, 88],
    'Science': [89, 85, 91, 76, 94],
    'English': [78, 82, 85, 88, 90]
}

df = pd.DataFrame(data)

# Display the full DataFrame

In [3]:
print("Complete DataFrame:")
print(df)

Complete DataFrame:
      Name  Math  Science  English
0    Alice    85       89       78
1      Bob    90       85       82
2  Charlie    78       91       85
3    David    92       76       88
4      Eve    88       94       90

# 2. Retrieving a particular column (e.g., 'Math')

In [4]:
print("\nMath Column:")
print(df['Math'])

Math Column:
0    85
1    90
2    78
3    92
4    88
Name: Math, dtype: int64

# 3. Summarizing the DataFrame

In [5]:
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
            Math    Science    English
count   5.000000   5.000000   5.000000
mean   86.600000  87.000000  84.600000
std     5.458938   6.964194   4.774935
min    78.000000  76.000000  78.000000
25%    85.000000  85.000000  82.000000
50%    88.000000  89.000000  85.000000
75%    90.000000  91.000000  88.000000
max    92.000000  94.000000  90.000000

# 4. Computing Mean and Standard Deviation

In [6]:
print("\nMean of Each Subject:")
print(df[['Math', 'Science', 'English']].mean())

Mean of Each Subject:
Math       86.6
Science    87.0
English    84.6
dtype: float64

In [7]:
print("\nStandard Deviation of Each Subject:")
print(df[['Math', 'Science', 'English']].std())

Standard Deviation of Each Subject:
Math       5.458938
Science    6.964194
English    4.774935
dtype: float64